# DuckDNS / Traefik
DUCKDNS_TOKEN=
DOMAIN=tu-subdominio.duckdns.org
# MQTT (generar passwd en el servidor, no en git)
MQTT_USER_ESP32=
MQTT_USER_NODERED=
# Influx
INFLUX_ORG=classroom
INFLUX_BUCKET=classroom_telemetry
INFLUX_TOKEN=
